/* Configuração gerais do body da página. */
body {
    background-image: url(../media/img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

/* Configuração de estilização do header (cabeçalho). */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

/* Configuração do div onde vai está as informações do nick do jogador, round e tempo. */
header div {
    background-image: url(../media/img/Pipe.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    max-width: 685px;
    width: 100%;
    height: 150px;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: navy;
    
}
/* Configuração da margem do parágrafo.  */
header div p {
    margin-left: 10px;
    margin-right: 8px;
}
/* Configuração de estilização do botão Encerrar. */
header button {
    background-color: #E52521;
    border: 3px solid #F4F4F4;
    border-radius: 10px;
    width: 200px;
    height: 52px;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 80px;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.54);
}

/* Configuração de estilização do hover do botão Encerrar */
header button:hover {
    box-shadow: 0 0 5px #E52521,
    0 0 25px #E52521, 0 0 50px #E52521;
    color: white;
    border: 3px solid red;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Configuração de estilização do div .grid onde vai está posicionada as cartas do jogo */
.grid {
   background-color: rgba(249, 242, 27, 0.6);
   border: 3px solid yellow;
   display: grid;
   grid-template-columns: repeat(8, 5.6em);
   gap: 20px;
   justify-content: center;
   width: 100%;
   max-width: 900px;
   height: fit-content; 
   padding: 15px;
   border-radius: 10px;
   perspective: 1000px;
}

/* Configuração geral da carta */
.card {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    transition: all 450ms ease;
    transform-origin: center center;
    transform-style: preserve-3d;
    background-color: lightgrey;
    -webkit-box-shadow: 0px 8px 8px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 8px 8px 2px rgba(0,0,0,0.54);
    box-shadow: 0px 3.9px 8px 2px rgba(0,0,0,0.54);
}

/* Configuração da face da carta */
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 400ms ease;
}

/* Configuração da frente da carta */
.front {
    transform: rotateY(180deg);
}

/* Configuração da parte detrás da carta */
.back {
    background-image: url(../media/img/QuestionBlock1.png);
    border: 2px solid gold;
    border-radius: 5px;
    cursor: pointer;
}

/* Configuração do hover com animação colorida */
.back:hover {
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow, 0 0 50px yellowgreen,
    0 0 100px #14ffe9, 0 0 150px #ffeb3b,
    0 0 200px #ff00e0;
    animation: animated 1.5s linear infinite;
}

/* Configuração da animação */
@keyframes animated {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

/* Configuração da animação de virada da carta */
.reveal-card {
    background-color: gold;
    transform: rotateY(180deg);
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow, 0 0 50px yellow;
}

/* Configuração de estilização do carta de quando o jogador encontrou um par */
.disabled-card {
    opacity: 0.5;
    border-radius: 5px;
    box-shadow: 0 0 5px darkgreen,
    0 0 25px darkgreen, 0 0 50px darkgreen,
    0 0 100px darkgreen;

}

/* Configuração de tela na horizontal para mobile */
@media (max-height: 400px) and (orientation: landscape) {
    body {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    header {
        width: 100%;
        height: 100%;
        margin: -75px 0 0px 0;
    }

    header div {
        background-position: center;
        background-size: contain;
        width: 100%;
        max-width: 510px;
        height: 230px;
        letter-spacing: 1.5px;
    }

    header div p {
        width: 100%;
        max-width: 200px;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
    }

    header button {
        margin-left: 10px;
        height: 48px;
    }

    section {
        margin-top: -60px
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(8, 49px);
        width: 100%;
        max-width: 540px;
        height: 100%;
        gap: 10px 15px;
        padding: 0.8em 0.1em 0.8em 0.1em;
        perspective: 300px;
     }
}

/* Configuração de tela na vertical para mobile */
@media (max-width: 768px) and (orientation: portrait) {

    body {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    header {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: -75px 0 0 0;
    }

    header div {
        justify-content: center;
        background-position: center;
        width: 100%;
        height: 200px;
        letter-spacing: 1.5px;
    }

    header div p {
        width: 100%;
        max-width: 150px;
        font-weight: 900;
        font-size: 17px;
        line-height: 22px;
    }

    header button {
        margin-top: -30px;
        margin-left: 80px;
        height: 50px;
    }

    section {
        margin-top: 15px
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 55px);
        width: 100%;
        max-width: 330px;
        height: 100%;
        gap: 10px 22px;
        perspective: 300px;
     }
}